*{
  box-sizing: border-box;
}

.App {
  text-align: center;
}


.App .navbar{
  /* border: 1px solid orange; */
  display: grid;
  grid-template-columns: 300px 1fr 1fr;
  grid-gap: 5px;
  
}

.navbar li{
  /* border: 1px solid red; */
  list-style-type: none;
}

.loginFormWrapper{
  /* border: 1px solid green; */
  display: grid;
  height: 50rem;

  justify-content: center;
  align-content: center;
}

.loginFormWrapper form{
  /* border: 1px solid gray; */
  width: 30rem;
  display: grid;
  grid-gap: 8px;
}
.loginFormWrapper button{
  background-color: whitesmoke;
  margin-top: 1rem;
  font-weight: 900;
  color: #666;
  border-radius: 10px;
}
.loginFormWrapper button:hover{
  background-color: rgb(60, 138, 255);
  color: white;
  border-radius: 10px;
  border: 1px solid white;
}


.loginFormWrapper form input{
  text-align: center;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(159, 194, 255);
  border-radius: 15px;
  color: rgb(60, 138, 255);
}

.signupWrapper{
  /* border: 1px solid green; */
  display: grid;
  height: 50rem;

  justify-content: center;
  align-content: center;
}
.signupWrapper form{
  /* border: 1px solid gray; */
  width: 30rem;
  display: grid;
  grid-gap: 8px;
}
.signupWrapper button{
  background-color: whitesmoke;
  margin-top: 1rem;
  font-weight: 900;
  color: #666;
  border-radius: 10px;
}
.signupWrapper button:hover{
  background-color: rgb(60, 138, 255);
  color: white;
  border-radius: 10px;
  border: 1px solid white;
}

.signupWrapper form input{
  text-align: center;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(159, 194, 255);
  border-radius: 15px;
  color: rgb(60, 138, 255);
}

.projectListWrapper{
  border: 1px solid green;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background: #282828;
  grid-gap: 5px;
}

.projectWrap{
  background-color: rgb(60, 138, 255);
  height: 10rem;
  width: 12rem;
  color: white;
  border-radius: 10px;
}
.projectWrap button{
  background-color: rgb(209, 243, 255);
  color: rgb(0, 0, 0);
  border-radius: 10px;
  background: white;
  border: 1px solid rgb(255, 255, 255);
}

.projectWrap button:hover{
  background-color: rgb(209, 243, 255);
  color: whitesmoke;
  border-radius: 10px;
  background: rgb(60, 138, 255);
  border: 1px solid rgb(255, 255, 255);
}


/*  project input
input, button, select, optgroup, textarea {
  border-width: 0px 1px;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border-radius: 5px;
}
 */

/* add project button  
button {
  border-radius: 10px;
  border: 1px solid white;
  color: white;
  background: rgb(60, 138, 255);
} */