*{
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  /* text-align: center; */
  /* background: #282828; */
  /* color:  */
  max-width: 90%;
}


.App .navbar{
  /* border: 1px solid orange; */
  /* display: grid; */
  /* grid-template-columns: 300px 1fr 1fr; */
  /* grid-gap: 5px; */
  /* background: #282828; */
  display: flex;
  
}

.navbar li{
  /* border: 1px solid red; */
  list-style-type: none;
  margin:auto; 
}


/*******************
Login Form 
*******************/

.loginFormWrapper{
  /* border: 1px solid green; */
  display: grid;
  height: 50rem;
  /* margin-top: 150px; */
  justify-content: center;
  align-content: center;
}

.loginFormWrapper form{
  /* border: 1px solid gray; */
  width: 30rem;
  display: grid;
  grid-gap: 8px;
}
.loginFormWrapper button{
  background-color: whitesmoke;
  margin-top: 1rem;
  font-weight: 900;
  color: #666;
  border-radius: 10px;
}
.loginFormWrapper button:hover{
  background-color: rgb(60, 138, 255);
  color: white;
  border-radius: 10px;
  border: 1px solid white;
}


.loginFormWrapper form input{
  text-align: center;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(159, 194, 255);
  border-radius: 15px;
  color: rgb(60, 138, 255);
}

/*********************
Signin Form 
*********************/

.signupWrapper{
  /* border: 1px solid green; */
  display: grid;
  height: 50rem;
  /* margin-top: 150px; */
  justify-content: center;
  align-content: center;
}
.signupWrapper form{
  /* border: 1px solid gray; */
  width: 30rem;
  display: grid;
  grid-gap: 8px;
}
.signupWrapper button{
  background-color: whitesmoke;
  margin-top: 1rem;
  font-weight: 900;
  color: #666;
  border-radius: 10px;
}
.signupWrapper button:hover{
  background-color: rgb(60, 138, 255);
  color: white;
  border-radius: 10px;
  border: 1px solid white;
}

.signupWrapper form input{
  text-align: center;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(159, 194, 255);
  border-radius: 15px;
  color: black;
}

/***********************
Project Div 
************************/
@media (max-width: 1900px){
  .projectListWrapper{
    /* border: 1px solid green; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    background: #282828;
    grid-gap: 5px;
    padding: 1rem;
    border-radius: 10px;
  }
}

@media (max-width: 1024px){
  .projectListWrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 10px;
    margin: auto;
  }
}

/* @media (max-width: 800px){
  .projectListWrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 10px;
    margin:auto;
  }
}

@media (max-width: 500px){
  .projectListWrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 10px;
    margin:auto;
  }
} */

.projectWrap{
  background-color: whitesmoke;
  padding: 10px;
  color: lightblue;
  border-radius: 10px;
  text-align: center;
}
.projectWrap h2{
  color: black;
}
.projectWrap p{
  color:#007bff;
}

.projectWrap button{
  background-color: lightblue;
  color: black;
  border-radius: 5px;
  border: none;
}

.projectWrap .editForm form{
  display: grid;
  grid-gap: 5px;
}
.projectWrap .editForm form input{
  text-align: center;
  margin: 10px;
  border: none;
  border-radius: 5px;
  color:black;
  background-color: antiquewhite;
}

.projectWrap .editForm form button{
  width: 30%;
  margin: 0 auto;
  border: none;
}

/************************ 
Project Form 
************************/

.addProjectForm{
  /* border: 1px solid dodgerblue; */
  height: 10rem;
  display: grid;
  grid-gap: 3px;
  margin: 1rem 0 1rem;
  align-content: center;
}
.addProjectForm input{
  /* border: 1px solid red; */
  border: none;
  text-align: center;
  background-color: antiquewhite;
  color: black;
  border-radius: 10px;
}

.addProjectForm button{
  margin: 1rem auto 0;
  width: 15rem;
  border: none;
  border-radius: 10px;
  background-color: lightblue;
  color: white;
  font-weight: 800;
}

/*********************** 
Toolbar 
************************/

.toolbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center; 
  max-width: 90%;
  border-bottom: 10px;
}

.toolbar button {
  border-radius: 10px;
  background-color: lightblue;
  color: black;
  border: none;
}

.nothing{
color :rgba(250, 144, 50, 0.625);
color: rgba(233, 92, 92, 0.625);
color: rgba(99, 92, 233, 0.625);
color:rgba(114, 184, 114, 0.603);
color: rgb(129, 196, 255);
}


.project-buttons {
  display: flex;

}